@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Customer Invoicing System</h1>
    <p class="lead">
        Customer Invoicing System is an application developed using ASP.NET MVC and will enable the user to
        track it's customer and their orders. It can also generate Invoice for the orders and also the Invoice
        can be saved in XML format.
    </p>
    <p>
        Purpose of this application is to demonstrate the practical application of <strong>VISITOR</strong>
        design pattern.In addition this application explores several features of ASP.NET MVC and popular open
        source <a href="http://getbootstrap.com/">Bootstrap CSS</a> for styling of the website. Bootstrap CSS
        is included by Microsoft as part of standard ASP.NET MVC template.
    </p>
</div>

